/* FILEPATH: /Users/janoliverbieker/bastel/codeCademy/excursion/resources/css/style.css */

.title {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
